{% extends 'base.html' %}
{% block title %}<title>顯示所有資料</title>{% endblock %}
{% block content %}
<h2>顯示 student 資料表所有資料</h2>
<table>
	<thead>
		<tr>
			<th>編號</th><th>姓名</th><th>性別</th><th>生日</th>
			<th>郵件帳號</th><th>電話</th><th>地址</th>
		</tr>
	</thead>
	<tbody>
		{% for student in students %}
		<tr>
			<td data-label="編號">{{ student.id }}</td>
			<td data-label="姓名">{{ student.cName }}</td>
			<td data-label="性別">{{ student.cSex }}</td>
			<td data-label="生日">{{ student.cBirthday }}</td>
			<td data-label="郵件帳號">{{ student.cEmail }}</td>
			<td data-label="電話">{{ student.cPhone }}</td>
			<td data-label="地址">{{ student.cAddr }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}
